@font-face {
	font-family: IRANYekan;
	font-display: swap;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANYekan/iranyekanwebboldfanum.eot');
	src: url('font/IRANYekan/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),
	     url('font/IRANYekan/iranyekanwebboldfanum.woff2') format('woff2'),
		 url('font/IRANYekan/iranyekanwebboldfanum.woff') format('woff'),
		 url('font/IRANYekan/iranyekanwebboldfanum.ttf') format('truetype');
}
@font-face {
	font-family: IRANYekan;
	font-display: swap;
	font-style: normal;
	font-weight: 100;
	src: url('font/IRANYekan/iranyekanwebthinfanum.eot');
	src: url('font/IRANYekan/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),
	     url('font/IRANYekan/iranyekanwebthinfanum.woff2') format('woff2'), 	
		 url('font/IRANYekan/iranyekanwebthinfanum.woff') format('woff'),
		 url('font/IRANYekan/iranyekanwebthinfanum.ttf') format('truetype');
}
@font-face {
	font-family: IRANYekan;
	font-display: swap;
	font-style: normal;
	font-weight: 300;
	src: url('font/IRANYekan/iranyekanweblightfanum.eot');
	src: url('font/IRANYekan/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),
	     url('font/IRANYekan/iranyekanweblightfanum.woff2') format('woff2'), 	
		 url('font/IRANYekan/iranyekanweblightfanum.woff') format('woff'),
		 url('font/IRANYekan/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: IRANYekan;
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: url('font/IRANYekan/iranyekanwebregularfanum.eot');
	src: url('font/IRANYekan/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),
	     url('font/IRANYekan/iranyekanwebregularfanum.woff2') format('woff2'), 	
		 url('font/IRANYekan/iranyekanwebregularfanum.woff') format('woff'),
		 url('font/IRANYekan/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
	font-family: IRANYekan;
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url('font/IRANYekan/iranyekanwebmediumfanum.eot');
	src: url('font/IRANYekan/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),
	     url('font/IRANYekan/iranyekanwebmediumfanum.woff2') format('woff2'), 	
		 url('font/IRANYekan/iranyekanwebmediumfanum.woff') format('woff'),
		 url('font/IRANYekan/iranyekanwebmediumfanum.ttf') format('truetype');
}
@font-face {
	font-family: IRANYekan;
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: url('font/IRANYekan/iranyekanwebextraboldfanum.eot');
	src: url('font/IRANYekan/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),
	     url('font/IRANYekan/iranyekanwebextraboldfanum.woff2') format('woff2'), 
		 url('font/IRANYekan/iranyekanwebextraboldfanum.woff') format('woff'),
		 url('font/IRANYekan/iranyekanwebextraboldfanum.ttf') format('truetype');
}
@font-face {
	font-family: IRANYekan;
	font-display: swap;
	font-style: normal;
	font-weight: 900;
	src: url('font/IRANYekan/iranyekanwebblackfanum.eot');
	src: url('font/IRANYekan/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),
	     url('font/IRANYekan/iranyekanwebblackfanum.woff2') format('woff2'), 
		 url('font/IRANYekan/iranyekanwebblackfanum.woff') format('woff'),
		 url('font/IRANYekan/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
	font-family: IRANYekan;
	font-display: swap;
	font-style: normal;
	font-weight: 950;
	src: url('font/IRANYekan/iranyekanwebextrablackfanum.eot');
	src: url('font/IRANYekan/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),
	     url('font/IRANYekan/iranyekanwebextrablackfanum.woff2') format('woff2'), 
		 url('font/IRANYekan/iranyekanwebextrablackfanum.woff') format('woff'),
		 url('font/IRANYekan/iranyekanwebextrablackfanum.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-display: swap;
	font-style: normal;
	font-weight: 900;
	src: url('font/IRANSans/IRANSansWeb_Black.eot');
	src: url('font/IRANSans/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),
         url('font/IRANSans/IRANSansWeb_Black.woff2') format('woff2'), 
         url('font/IRANSans/IRANSansWeb_Black.woff') format('woff'),
         url('font/IRANSans/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-display: swap;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANSans/IRANSansWeb_Bold.eot');
	src: url('font/IRANSans/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
         url('font/IRANSans/IRANSansWeb_Bold.woff2') format('woff2'), 
         url('font/IRANSans/IRANSansWeb_Bold.woff') format('woff'),
         url('font/IRANSans/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url('font/IRANSans/IRANSansWeb_Medium.eot');
	src: url('font/IRANSans/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
         url('font/IRANSans/IRANSansWeb_Medium.woff2') format('woff2'), 
         url('font/IRANSans/IRANSansWeb_Medium.woff') format('woff'),
         url('font/IRANSans/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
	font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('font/IRANSans/IRANSansWeb.eot');
    src: url('font/IRANSans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
         url('font/IRANSans/IRANSansWeb.woff2') format('woff2'), 
         url('font/IRANSans/IRANSansWeb.woff') format('woff'),
         url('font/IRANSans/IRANSansWeb.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
	font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('font/IRANSans/IRANSansWeb_Light.eot');
    src: url('font/IRANSans/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
         url('font/IRANSans/IRANSansWeb_Light.woff2') format('woff2'), 
         url('font/IRANSans/IRANSansWeb_Light.woff') format('woff'),
         url('font/IRANSans/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
	font-display: swap;
    font-style: normal;
    font-weight: 200;
    src: url('font/IRANSans/IRANSansWeb_UltraLight.eot');
    src: url('font/IRANSans/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
         url('font/IRANSans/IRANSansWeb_UltraLight.woff2') format('woff2'), 
         url('font/IRANSans/IRANSansWeb_UltraLight.woff') format('woff'),
         url('font/IRANSans/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansDN;
	font-display: swap;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANSansDN/iransansdnwebbold.eot');
	src: url('font/IRANSansDN/iransansdnwebbold.eot?#iefix') format('embedded-opentype'),
		 url('font/IRANSansDN/iransansdnwebbold.woff2') format('woff2'), 
		 url('font/IRANSansDN/iransansdnwebbold.woff') format('woff'),
		 url('font/IRANSansDN/iransansdnwebbold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansDN;
	font-display: swap;
	font-style: normal;
	font-weight: 300;
	src: url('font/IRANSansDN/iransansdnweblight.eot');
	src: url('font/IRANSansDN/iransansdnweblight.eot?#iefix') format('embedded-opentype'),
		 url('font/IRANSansDN/iransansdnweblight.woff2') format('woff2'), 
		 url('font/IRANSansDN/iransansdnweblight.woff') format('woff'),
		 url('font/IRANSansDN/iransansdnweblight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansDN;
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: url('font/IRANSansDN/iransansdnweb.eot');
	src: url('font/IRANSansDN/iransansdnweb.eot?#iefix') format('embedded-opentype'),
		 url('font/IRANSansDN/iransansdnweb.woff2') format('woff2'), 
		 url('font/IRANSansDN/iransansdnweb.woff') format('woff'),
		 url('font/IRANSansDN/iransansdnwebregular.ttf') format('truetype');
}
@font-face {
    font-family: Aviny;
	font-display: swap;
    src: url('font/Aviny/Aviny.eot');
    src: url('font/Aviny/Aviny.eot?#iefix') format('embedded-opentype'),
        url('font/Aviny/Aviny.woff2') format('woff2'),
        url('font/Aviny/Aviny.woff') format('woff'),
        url('font/Aviny/Aviny.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Daal;
	font-display: swap;
    src: url('font/Daal/Daal.eot');
    src: url('font/Daal/Daal.eot?#iefix') format('embedded-opentype'),
        url('font/Daal/Daal.woff2') format('woff2'),
        url('font/Daal/Daal.woff') format('woff'),
        url('font/Daal/Daal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Daal;
	font-display: swap;
    src: url('font/Daal/Daal-Black.eot');
    src: url('font/Daal/Daal-Black.eot?#iefix') format('embedded-opentype'),
        url('font/Daal/Daal-Black.woff2') format('woff2'),
        url('font/Daal/Daal-Black.woff') format('woff'),
        url('font/Daal/Daal-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Yekanbakh;
	font-display: swap;
    src: url('font/YekanBakh/YekanBakh-Hairline.eot');
    src: url('font/YekanBakh/YekanBakh-Hairline.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Hairline.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Hairline.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap;
    src: url('font/YekanBakh/YekanBakh-Thin.eot');
    src: url('font/YekanBakh/YekanBakh-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Thin.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Thin.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap;
    src: url('font/YekanBakh/YekanBakh-Light.eot');
    src: url('font/YekanBakh/YekanBakh-Light.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Light.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Light.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap;
    src: url('font/YekanBakh/YekanBakh-Regular.eot');
    src: url('font/YekanBakh/YekanBakh-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Regular.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Regular.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap;
    src: url('font/YekanBakh/YekanBakh-Medium.eot');
    src: url('font/YekanBakh/YekanBakh-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Medium.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Medium.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap;
    src: url('font/YekanBakh/YekanBakh-Bold.eot');
    src: url('font/YekanBakh/YekanBakh-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Bold.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Bold.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap;
    src: url('font/YekanBakh/YekanBakh-Heavy.eot');
    src: url('font/YekanBakh/YekanBakh-Heavy.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Heavy.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Heavy.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap;
    src: url('font/YekanBakh/YekanBakh-Fat.eot');
    src: url('font/YekanBakh/YekanBakh-Fat.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Fat.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Fat.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Fat.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap;
    src: url('font/Anjoman/AnjomanFaNum-Light.eot');
    src: url('font/Anjoman/AnjomanFaNum-Light.eot?#iefix') format('embedded-opentype'),
        url('font/Anjoman/AnjomanFaNum-Light.woff2') format('woff2'),
        url('font/Anjoman/AnjomanFaNum-Light.woff') format('woff'),
        url('font/Anjoman/AnjomanFaNum-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap;
    src: url('font/Anjoman/AnjomanFaNum-Regular.eot');
    src: url('font/Anjoman/AnjomanFaNum-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Anjoman/AnjomanFaNum-Regular.woff2') format('woff2'),
        url('font/Anjoman/AnjomanFaNum-Regular.woff') format('woff'),
        url('font/Anjoman/AnjomanFaNum-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap;
    src: url('font/Anjoman/AnjomanFaNum-Bold.eot');
    src: url('font/Anjoman/AnjomanFaNum-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/Anjoman/AnjomanFaNum-Bold.woff2') format('woff2'),
        url('font/Anjoman/AnjomanFaNum-Bold.woff') format('woff'),
        url('font/Anjoman/AnjomanFaNum-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: bold;
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap;
    font-style: normal;
    font-weight: 900;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Black.eot');
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),
    url('font/IRANSansFN/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),
    url('.font/IRANSansFN/IRANSansWeb(FaNum)_Black.woff') format('woff'),
    url('font/IRANSansFN/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Bold.eot');
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
    url('font/IRANSansFN/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
    url('.font/IRANSansFN/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
    url('font/IRANSansFN/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Medium.eot');
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
    url('font/IRANSansFN/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
    url('.font/IRANSansFN/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
    url('font/IRANSansFN/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Light.eot');
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
    url('font/IRANSansFN/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
    url('.font/IRANSansFN/IRANSansWeb(FaNum)_Light.woff') format('woff'),
    url('font/IRANSansFN/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap;
    font-style: normal;
    font-weight: 200;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),
    url('font/IRANSansFN/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
    url('.font/IRANSansFN/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
    url('font/IRANSansFN/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum).eot');
    src: url('font/IRANSansFN/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
    url('font/IRANSansFN/IRANSansWeb(FaNum).woff2') format('woff2'),
    url('.font/IRANSansFN/IRANSansWeb(FaNum).woff') format('woff'),
    url('font/IRANSansFN/IRANSansWeb(FaNum).ttf') format('truetype');
}
@font-face {
    font-family: Maneli;
	font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url('font/Maneli/Maneli.eot');
    src: url('font/Maneli/Maneli.eot?#iefix') format('embedded-opentype'),
    url('font/Maneli/Maneli.woff2') format('woff2'),
    url('.font/Maneli/Maneli.woff') format('woff'),
    url('font/Maneli/Maneli.ttf') format('truetype');
}
@font-face {
    font-family: Dana;
	font-display: swap;
    src: url('font/Dana/dana-fanum-bold.eot');
    src: url('font/Dana/dana-fanum-bold.eot?#iefix') format('embedded-opentype'),
        url('font/Dana/dana-fanum-bold.woff2') format('woff2'),
        url('font/Dana/dana-fanum-bold.woff') format('woff'),
        url('font/Dana/dana-fanum-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Dana;
	font-display: swap;
    src: url('font/Dana/dana-fanum-regular.eot');
    src: url('font/Dana/dana-fanum-regular.eot?#iefix') format('embedded-opentype'),
        url('font/Dana/dana-fanum-regular.woff2') format('woff2'),
        url('font/Dana/dana-fanum-regular.woff') format('woff'),
        url('font/Dana/dana-fanum-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Irancell;
	font-display: swap;
    font-style: normal;
    font-weight: 200;
    src: url('font/Irancell/Irancell_ExtraLight.eot');
    src: url('font/Irancell/Irancell_ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('font/Irancell/Irancell_ExtraLight.woff2') format('woff2'), 
         url('font/Irancell/Irancell_ExtraLight.woff') format('woff'),
         url('font/Irancell/Irancell_ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: Irancell;
	font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('font/Irancell/Irancell_Light.eot');
    src: url('font/Irancell/Irancell_Light.eot?#iefix') format('embedded-opentype'),
         url('font/Irancell/Irancell_Light.woff2') format('woff2'), 
         url('font/Irancell/Irancell_Light.woff') format('woff'),
         url('font/Irancell/Irancell_Light.ttf') format('truetype');
}
@font-face {
    font-family: Irancell;
	font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('font/Irancell/Irancell_Regular.eot');
    src: url('font/Irancell/Irancell_Regular.eot?#iefix') format('embedded-opentype'),
         url('font/Irancell/Irancell_Regular.woff2') format('woff2'), 
         url('font/Irancell/Irancell_Regular.woff') format('woff'),
         url('font/Irancell/Irancell_Regular.ttf') format('truetype');
}
@font-face {
    font-family: Irancell;
	font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('font/Irancell/Irancell_Medium.eot');
    src: url('font/Irancell/Irancell_Medium.eot?#iefix') format('embedded-opentype'),
         url('font/Irancell/Irancell_Medium.woff2') format('woff2'), 
         url('font/Irancell/Irancell_Medium.woff') format('woff'),
         url('font/Irancell/Irancell_Medium.ttf') format('truetype');
}
@font-face {
    font-family: Irancell;
	font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('font/Irancell/Irancell_Bold.eot');
    src: url('font/Irancell/Irancell_Bold.eot?#iefix') format('embedded-opentype'),
         url('font/Irancell/Irancell_Bold.woff2') format('woff2'), 
         url('font/Irancell/Irancell_Bold.woff') format('woff'),
         url('font/Irancell/Irancell_Bold.ttf') format('truetype');
}
@font-face {
    font-family: Irancell;
	font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url('font/Irancell/Irancell_Extrabold.eot');
    src: url('font/Irancell/Irancell_Extrabold.eot?#iefix') format('embedded-opentype'),
         url('font/Irancell/Irancell_Extrabold.woff2') format('woff2'), 
         url('font/Irancell/Irancell_Extrabold.woff') format('woff'),
         url('font/Irancell/Irancell_Extrabold.ttf') format('truetype');
}
@font-face {
  font-family: Vazir;
  font-display:swap;
  src: url('font/Vazir/Vazir-FD.eot');
  src: url('font/Vazir/Vazir-FD.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir-FD.woff2') format('woff2'),
       url('font/Vazir/Vazir-FD.woff') format('woff'),
       url('font/Vazir/Vazir-FD.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: Vazir;
  font-display:swap;
  src: url('font/Vazir/Vazir-Bold-FD.eot');
  src: url('font/Vazir/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir-Bold-FD.woff2') format('woff2'),
       url('font/Vazir/Vazir-Bold-FD.woff') format('woff'),
       url('font/Vazir/Vazir-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  font-display:swap;
  src: url('font/Vazir/Vazir-Light-FD.eot');
  src: url('font/Vazir/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir-Light-FD.woff2') format('woff2'),
       url('font/Vazir/Vazir-Light-FD.woff') format('woff'),
       url('font/Vazir/Vazir-Light-FD.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: Vazir;
  font-display:swap;
  src: url('font/Vazir/Vazir-Medium-FD.eot');
  src: url('font/Vazir/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir-Medium-FD.woff2') format('woff2'),
       url('font/Vazir/Vazir-Medium-FD.woff') format('woff'),
       url('font/Vazir/Vazir-Medium-FD.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: Vazir;
  font-display:swap;
  src: url('font/Vazir/Vazir-Thin-FD.eot');
  src: url('font/Vazir/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir-Thin-FD.woff2') format('woff2'),
       url('font/Vazir/Vazir-Thin-FD.woff') format('woff'),
       url('font/Vazir/Vazir-Thin-FD.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: Vazir;
  font-display:swap;
  src: url('font/Vazir/Vazir-Black-FD.eot');
  src: url('font/Vazir/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir/Vazir-Black-FD.woff2') format('woff2'),
       url('font/Vazir/Vazir-Black-FD.woff') format('woff'),
       url('font/Vazir/Vazir-Black-FD.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: Shabnam;
  font-display:swap;
  src: url('font/Shabnam/Shabnam-FD.eot');
  src: url('font/Shabnam/Shabnam-FD.eot?#iefix') format('embedded-opentype'),
       url('font/Shabnam/Shabnam-FD.woff2') format('woff2'),
       url('font/Shabnam/Shabnam-FD.woff') format('woff'),
       url('font/Shabnam/Shabnam-FD.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: Shabnam;
  font-display:swap;
  src: url('font/Shabnam/Shabnam-Bold-FD.eot');
  src: url('font/Shabnam/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('font/Shabnam/Shabnam-Bold-FD.woff2') format('woff2'),
       url('font/Shabnam/Shabnam-Bold-FD.woff') format('woff'),
       url('font/Shabnam/Shabnam-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  font-display:swap;
  src: url('font/Shabnam/Shabnam-Light-FD.eot');
  src: url('font/Shabnam/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),
       url('font/Shabnam/Shabnam-Light-FD.woff2') format('woff2'),
       url('font/Shabnam/Shabnam-Light-FD.woff') format('woff'),
       url('font/Shabnam/Shabnam-Light-FD.ttf') format('truetype');
  font-weight: 300;
}