@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANYekan/iranyekanwebboldfanum.eot');
	src: url('font/IRANYekan/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANYekan/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANYekan/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('font/IRANYekan/iranyekanwebthinfanum.eot');
	src: url('font/IRANYekan/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANYekan/iranyekanwebthinfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANYekan/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('font/IRANYekan/iranyekanweblightfanum.eot');
	src: url('font/IRANYekan/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANYekan/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANYekan/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('font/IRANYekan/iranyekanwebregularfanum.eot');
	src: url('font/IRANYekan/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANYekan/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANYekan/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('font/IRANYekan/iranyekanwebmediumfanum.eot');
	src: url('font/IRANYekan/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANYekan/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANYekan/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('font/IRANYekan/iranyekanwebextraboldfanum.eot');
	src: url('font/IRANYekan/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANYekan/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANYekan/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('font/IRANYekan/iranyekanwebblackfanum.eot');
	src: url('font/IRANYekan/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANYekan/iranyekanwebblackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANYekan/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 950;
	src: url('font/IRANYekan/iranyekanwebextrablackfanum.eot');
	src: url('font/IRANYekan/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANYekan/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANYekan/iranyekanwebextrablackfanum.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 900;
    src: url('font/IRANSans/IRANSansWeb_Black.eot');
    src: url('font/IRANSans/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('font/IRANSans/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('font/IRANSans/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('font/IRANSans/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: bold;
    src: url('font/IRANSans/IRANSansWeb_Bold.eot');
    src: url('font/IRANSans/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('font/IRANSans/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('font/IRANSans/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('font/IRANSans/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 500;
    src: url('font/IRANSans/IRANSansWeb_Medium.eot');
    src: url('font/IRANSans/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('font/IRANSans/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('font/IRANSans/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('font/IRANSans/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 300;
    src: url('font/IRANSans/IRANSansWeb_Light.eot');
    src: url('font/IRANSans/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('font/IRANSans/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('font/IRANSans/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('font/IRANSans/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 200;
    src: url('font/IRANSans/IRANSansWeb_UltraLight.eot');
    src: url('font/IRANSans/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('font/IRANSans/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('font/IRANSans/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('font/IRANSans/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: normal;
    src: url('font/IRANSans/IRANSansWeb.eot');
    src: url('font/IRANSans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('font/IRANSans/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('font/IRANSans/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('font/IRANSans/IRANSansWeb.ttf') format('truetype');
}


@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANSansDN/iransansdnwebbold.eot');
	src: url('font/IRANSansDN/iransansdnwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANSansDN/iransansdnwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/IRANSansDN/iransansdnwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANSansDN/iransansdnwebbold.ttf') format('truetype');
}
@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: 300;
	src: url('font/IRANSansDN/iransansdnweblight.eot');
	src: url('font/IRANSansDN/iransansdnweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANSansDN/iransansdnweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/IRANSansDN/iransansdnweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANSansDN/iransansdnweblight.ttf') format('truetype');
}
@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: normal;
	src: url('font/IRANSansDN/iransansdnweb.eot');
	src: url('font/IRANSansDN/iransansdnweb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANSansDN/iransansdnweb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/IRANSansDN/iransansdnweb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANSansDN/iransansdnwebregular.ttf') format('truetype');
}

@font-face {
    font-family: aviny;
    src: url('font/Aviny/Aviny.eot');
    src: url('font/Aviny/Aviny.eot?#iefix') format('embedded-opentype'),
        url('font/Aviny/Aviny.woff2') format('woff2'),
        url('font/Aviny/Aviny.woff') format('woff'),
        url('font/Aviny/Aviny.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: daal;
    src: url('font/Daal/Daal.eot');
    src: url('font/Daal/Daal.eot?#iefix') format('embedded-opentype'),
        url('font/Daal/Daal.woff2') format('woff2'),
        url('font/Daal/Daal.woff') format('woff'),
        url('font/Daal/Daal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: daal;
    src: url('font/Daal/Daal-Black.eot');
    src: url('font/Daal/Daal-Black.eot?#iefix') format('embedded-opentype'),
        url('font/Daal/Daal-Black.woff2') format('woff2'),
        url('font/Daal/Daal-Black.woff') format('woff'),
        url('font/Daal/Daal-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: yekanbakh;
    src: url('font/YekanBakh/YekanBakh-Hairline.eot');
    src: url('font/YekanBakh/YekanBakh-Hairline.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Hairline.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Hairline.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: yekanbakh;
    src: url('font/YekanBakh/YekanBakh-Thin.eot');
    src: url('font/YekanBakh/YekanBakh-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Thin.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Thin.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: yekanbakh;
    src: url('font/YekanBakh/YekanBakh-Light.eot');
    src: url('font/YekanBakh/YekanBakh-Light.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Light.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Light.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: yekanbakh;
    src: url('font/YekanBakh/YekanBakh-Regular.eot');
    src: url('font/YekanBakh/YekanBakh-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Regular.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Regular.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: yekanbakh;
    src: url('font/YekanBakh/YekanBakh-Medium.eot');
    src: url('font/YekanBakh/YekanBakh-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Medium.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Medium.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: yekanbakh;
    src: url('font/YekanBakh/YekanBakh-Bold.eot');
    src: url('font/YekanBakh/YekanBakh-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Bold.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Bold.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: yekanbakh;
    src: url('font/YekanBakh/YekanBakh-Heavy.eot');
    src: url('font/YekanBakh/YekanBakh-Heavy.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Heavy.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Heavy.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: yekanbakh;
    src: url('font/YekanBakh/YekanBakh-Fat.eot');
    src: url('font/YekanBakh/YekanBakh-Fat.eot?#iefix') format('embedded-opentype'),
        url('font/YekanBakh/YekanBakh-Fat.woff2') format('woff2'),
        url('font/YekanBakh/YekanBakh-Fat.woff') format('woff'),
        url('font/YekanBakh/YekanBakh-Fat.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
